@import "./../../assets/styles/colors";

.form-button {
    height: 50px;
    width: 100%;
    color: white;
    border: none;
    background-color: $primary-color;
    cursor: pointer;
}

.form-button:hover {
    color: $primary-color;
    background-color: white;
    border: 2px solid $primary-color;
}


.google-button {
    margin-top: 15px;
    background-color: #2979ff;
    color: white;

    &:hover {
        border: 2px solid #2979ff;
        background-color: white;
        color:  #2979ff;
    }
}

.inverted {
    margin-top: 5px;
    background-color: white;
    border: 2px solid black;
    color: black;
    &:hover {
        background-color: black;
        color: white;
    }
}