.menu {
    position: relative;
}
#logo-img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.menu-list > li:hover {
    transform: scale(1.03);
    font-size: 24px;
}



@media only screen and (min-width: 200px) {
    .menu {
        padding: 20px 15px 5px 15px;
    }

    .menu {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .menu-list {
        display: none;
    }
    .menu-holder {
        display: block;
    }

    #menu-img {
        width: 32px;
        height: 32px;
    }
    
    #logo-img {
        width: 32px;
        height: 32px;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 300px) {
}
@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 700px) {
    .menu-list {
        display: block;
    }
    .menu-holder {
        display: none;
    }

    .menu {
        padding: 20px 30px 0px 30px;
    }

    #logo-img {
        width: 64px;
        height: 64px;
    }

    .menu-list {
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        li {
            padding-left: 40px;
            font-size: 22px;
        }
    }
}
@media only screen and (min-width: 800px) {
}
@media only screen and (min-width: 900px) {
}
@media only screen and (min-width: 1000px) {
}
@media only screen and (min-width: 1100px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1300px) {
}
